In [1]:
import pandas as pd 

df = pd.read_csv("/home/kkyu/amr_ws/DL/IoT_Project/environment.csv")
df

/tmp/ipykernel_15309/1904142688.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

,Date,Temperature (°C),Humidity (%),CO2 (PPM),PM-10 (μg/m3)
0,2024-03-09 16:46:22,22.5,5.0,152,13.31
1,2024-03-09 16:46:24,22.5,5.0,152,13.31
2,2024-03-09 16:46:26,22.5,5.0,152,13.31
3,2024-03-09 16:46:27,22.5,5.0,152,25.04
4,2024-03-09 16:46:28,22.5,5.0,153,12.34
...,...,...,...,...,...
208,2024-03-09 16:49:57,22.9,5.0,153,11.36
209,2024-03-09 16:49:58,22.9,5.0,153,11.36
210,2024-03-09 16:49:59,22.9,5.0,152,11.36
211,2024-03-09 16:50:00,22.9,5.0,152,12.34
212,2024-03-09 16:50:01,22.9,5.0,153,12.34

In [2]:
# 'AQI' 컬럼 생성
df['AQI'] = 0

# for loop를 사용하여 각 행에 대한 AQI 값 계산 및 할당
for index, row in df.iterrows():
    PM_10_value = row['PM-10 (μg/m3)']
    AQI_value = ((100 - 51) / (80 - 31)) * (PM_10_value - 31) + 51
    df.at[index, 'AQI'] = AQI_value

df

/tmp/ipykernel_15309/3247769390.py:8: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '33.31' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[index, 'AQI'] = AQI_value

,Date,Temperature (°C),Humidity (%),CO2 (PPM),PM-10 (μg/m3),AQI
0,2024-03-09 16:46:22,22.5,5.0,152,13.31,33.31
1,2024-03-09 16:46:24,22.5,5.0,152,13.31,33.31
2,2024-03-09 16:46:26,22.5,5.0,152,13.31,33.31
3,2024-03-09 16:46:27,22.5,5.0,152,25.04,45.04
4,2024-03-09 16:46:28,22.5,5.0,153,12.34,32.34
...,...,...,...,...,...,...
208,2024-03-09 16:49:57,22.9,5.0,153,11.36,31.36
209,2024-03-09 16:49:58,22.9,5.0,153,11.36,31.36
210,2024-03-09 16:49:59,22.9,5.0,152,11.36,31.36
211,2024-03-09 16:50:00,22.9,5.0,152,12.34,32.34
212,2024-03-09 16:50:01,22.9,5.0,153,12.34,32.34

In [3]:
# 'AQI_Bucket' 컬럼 생성 및 값 할당
df['AQI_Bucket'] = pd.cut(df['AQI'], bins=[0, 50, 100, 250, 500], labels=['Good', 'Moderate', 'Unhealthy', 'Very Unhealthy'])

df

,Date,Temperature (°C),Humidity (%),CO2 (PPM),PM-10 (μg/m3),AQI,AQI_Bucket
0,2024-03-09 16:46:22,22.5,5.0,152,13.31,33.31,Good
1,2024-03-09 16:46:24,22.5,5.0,152,13.31,33.31,Good
2,2024-03-09 16:46:26,22.5,5.0,152,13.31,33.31,Good
3,2024-03-09 16:46:27,22.5,5.0,152,25.04,45.04,Good
4,2024-03-09 16:46:28,22.5,5.0,153,12.34,32.34,Good
...,...,...,...,...,...,...,...
208,2024-03-09 16:49:57,22.9,5.0,153,11.36,31.36,Good
209,2024-03-09 16:49:58,22.9,5.0,153,11.36,31.36,Good
210,2024-03-09 16:49:59,22.9,5.0,152,11.36,31.36,Good
211,2024-03-09 16:50:00,22.9,5.0,152,12.34,32.34,Good
212,2024-03-09 16:50:01,22.9,5.0,153,12.34,32.34,Good